body{
    background-image: url('../img/bg-form.jpg');
    color: white;
}

a, a:visited{
    color: white;
}

h2, h3{
    text-shadow: 2px 2px 15px white;
    font-weight: bold
}

.gauge-title{
    font-size: 18px;
}

.header-button{
    margin-top: 21px;
}

#chartContainer{
    width: 100%;
    height: 300px;
}
