body{
    color: white;
}

a, a:visited{
    color: white;
}

h2, h3{
    font-weight: bold
}

.gauge-title{
    font-size: 18px;
}

.header-button{
    margin-top: 21px;
}

.nav-button{
    float: right;
    margin-top: -7px;
    margin-left: 5px;
}

.row-spaced{
    margin: 10px 0;
}

#chartContainer{
    width: 100%;
    height: 300px;
    margin: 10px 0;
}
